/* Estilo para los botones */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    text-decoration: none; /* Elimina la subraya de los enlaces */
    border: none; /* Quita el borde del botón */
    border-radius: 4px; /* Borde redondeado */
    cursor: pointer; /* Cambia el cursor al pasar por encima del botón */
}

.button:hover {
    background-color: #0056b3; /* Color de fondo del botón al pasar el ratón por encima */
}
