<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/proyecto-laraver-1/tests" />
        <option value="$PROJECT_DIR$/examen3/tests/Unit" />
        <option value="$PROJECT_DIR$/examen3/tests/Feature" />
        <option value="$PROJECT_DIR$/ut7/proyecto-laraver-1/tests/Unit" />
        <option value="$PROJECT_DIR$/ut7/proyecto-laraver-1/tests/Feature" />
        <option value="$PROJECT_DIR$/ut7/laravel_zoologico/tests/Unit" />
        <option value="$PROJECT_DIR$/ut7/laravel_zoologico/tests/Feature" />
        <option value="$PROJECT_DIR$/ut7/prueba-laravel/tests/Unit" />
        <option value="$PROJECT_DIR$/ut7/prueba-laravel/tests/Feature" />
        <option value="$PROJECT_DIR$/ut7/laravel-pintores/tests/Unit" />
        <option value="$PROJECT_DIR$/ut7/laravel-pintores/tests/Feature" />
      </list>
    </option>
  </component>
</project>